<p>League Table</p>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<tr>
				<th>Team Crest</th>
				<th>Games Played</th>
				<th>Points</th>
				<th>Goals</th>
				<th>Goals Against</th>
				<th>Goal Difference</th>
			</tr>

			<!-- ngFor to loop through league JSON  -->
			<tr *ngFor="let standing of this.league?.standing">
				<td><img src="{{standing.crestURI}}" height="30" width ="30"></td>
				<td>{{standing.playedGames}}</td>
				<td>{{standing.points}}</td>
				<td>{{standing.goals}}</td>
				<td>{{standing.goalsAgainst}}</td>
				<td>{{standing.goalDifference}}</td>
			</tr>
		</table>
	</div>
</div>