<p>Season Results</p>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<tr>
				<th>Date</th>
				<th>Home Team</th>
				<th>Away Team</th>
				<th>Home Team Score</th>
				<th>Away Team Score</th>
			</tr>
			<tbody *ngFor="let fixture of this.fixtures?.fixtures">
				<tr>
					<td>{{fixture.date}}</td>
					<td>{{fixture.homeTeamName}}</td>
					<td>{{fixture.awayTeamName}}</td>
					<td>{{fixture.result.goalsHomeTeam}}</td>
					<td>{{fixture.result.goalsAwayTeam}}</td>
				</tr>
		</tbody>
		</table>
	</div>
</div>