<p>EPL Football Statistics</p>
<!-- Navigation links for user stories -->
<nav class="navbar navbar-default">
		<ul class="nav navbar-expand-sm bg-dark">
			<li class="nav-item"><a class="nav-link" routerLink="/leaguetable">Current League Table</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/fixtures">Fixtures</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/headtohead">Head To Head Results</a></li>
			<li class="nav-item"><a class="nav-link" routerLink="/season">Season Results</a></li>
		</ul>
</nav>
<router-outlet></router-outlet>