<p>Head To Head Results</p>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<tr>
				<th>Home Team Wins</th>
				<th>Away Team Wins</th>
				<th>Draws</th>
			</tr>

			<!-- ngFor to loop through fixture JSON  -->
			<tbody *ngFor="let fixture of this.fixtures?.fixtures">
				<tr>
					<td>{{fixture.homeTeamWins}}</td>
					<td>{{fixture.awayTeamWins}}</td>
					<td>{{fixture.head.draws}}</td>
				</tr>
		</tbody>
		</table>
	</div>
</div>